#map, #cursor {
    width: 500px;
    height: 500px;
}

#image-preview {
    max-width: 100%;
    max-height: 200px;
    margin-top: 10px;
}

#preview {
    position: relative;
}

#cursor {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

#cursor img {
    position: absolute;
    top: 200px;
    left: 200px;
}