<!DOCTYPE html>
<html lang="fr">

<head>
    {% include "head.html" %}
    <link rel="stylesheet" href="/static/styles/home.css">
</head>

<body>
    {% include "topbar.html" %}
    
    <h2>Ajout d'une borne</h2>

    <div id="message"></div>

    <form id="gpsForm">

        <h3>Infomation</h3>

        <div class="element">
            <label for="name">Nom de la la borne</label>
            <input type="text" id="name" name="name" autocomplete="name">
        </div>

        <div class="element">
            <label for="city">Ville</label>
            <input type="city" id="city" name="city" autocomplete="city">
        </div>

        <div class="element element-image">
            <label for="image">Image<span>*</span></label>
            <input type="file" id="image" name="image" onchange="previewImage()">
            <img id="image-preview" src="#" alt="Aperçu de l'image" style="display: none;">
        </div>

        <h3>Emplacement</h3>

        <div class="element element-map">
            <!-- <div class="image"><img src="/static/cursor.png" alt=""></div> -->
            <div id="map"></div>
        </div>
            
        <div class="element">
            <label for="lat">Latitude<span>*</span></label>
            <input type="text" id="lat" name="lat" autocomplete="off">
        </div>

        <div class="element">
            <label for="lon">Longitude<span>*</span></label>
            <input type="text" id="lon" name="lon" autocomplete="off">
        </div>

        <div class="element">
            <button type="button" onclick="getLocation()">Remplir les coordonnées</button>
        </div>     

        <h3>Annexe</h3>
        
        <div class="element">
            <label for="alt">Altitude</label>
            <input type="text" id="alt" name="alt" autocomplete="off">
        </div>

        <div class="element">
            <label for="wiki">Lien Wikipedia</label>
            <input type="text" id="wiki" name="wiki" autocomplete="off">
        </div>

        <button type="submit">Envoyer</button>
    </form>

    <script src="/static/js/home.js"></script>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/static/service-worker.js')
                .then(function (registration) {
                    console.log('Service Worker registered successfully:', registration);
                })
                .catch(function (error) {
                    console.log('Service Worker registration failed:', error);
                });
        }
        else {
            console.log('Service Worker is not supported.');
        }
    </script>
</body>

</html>