<!DOCTYPE html>
<html lang="fr">

<head>
    {% include "head.html" %}
    <link rel="stylesheet" href="/static/styles/list.css">
</head>

<body>
    {% include "topbar.html" %}

    <h2>Bornes envoyées</h2>

    <table class="uploads">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Ville</th>
            <th>Date</th>
            <th>Liens</th>
            <th>Validité</th>
        </tr>
        {% for borne in bornes %}
            <tr>
                <td class="id">{{ borne["id"] }}</td>
                <td>{{ borne["name"] }}</td>
                <td>{{ borne["city"] }}</td>
                <td class="date">{{ format.relative_date(borne["date"]) }}</td>
                <td class="map wiki">{{ format.map_link(borne["x"], borne["y"]) | safe }}{{ format.wiki_link(borne["wiki"]) | safe }}</td>
                <td class="valid">{{ format.is_valid_borne(borne["is_valid"]) }}</td>
            </tr>
        {% endfor %}
    </table>
</body>

</html>