<div class="topbar">
    <div class="item item-icon">
        <a href="/home"><ion-icon name="add-circle-outline"></ion-icon></a>
        <a href="/list"><ion-icon name="list-outline"></ion-icon></a>
        <a href="/map"><ion-icon name="map-outline"></ion-icon></a>
        <a href="/logout"><ion-icon name="log-out-outline"></ion-icon></a>
    </div>
    <div class="item item-about">
        <span>{{ user.username }}</span>
        <img class="avatar" src="{{ user.avatar_url }}" alt="Avatar" width="40" height="40">
    </div>
</div>